-var ՀԱՄԱԼՍԱՐԱՆ = "ՀԱՄԱԼՍԱՐԱՆ"
-var ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ = "ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ"

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="/assets/css/profession.css"  type='text/css')
        
        title= ՀԱՄԱԼՍԱՐԱՆ
        
        // Bootstrap core CSS
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") 
    body
        nav(class ="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0")
            a(class="navbar-brand col-sm-3 col-md-2 mr-0" href="#") ՀԱՄԱԼՍԱՐԱՆ
            input(class="form-control form-control-dark w-100" type="text" placeholder="ՈՐՈՆՈՒՄ" aria-label="Search")
            ul(class="navbar-nav px-3")
                li(class="nav-item text-nowrap")
                    a(href="#").nav-link ԴՈՒՐՍ ԳԱԼ

        .container-fluid
            .row
                nav(class="col-md-2 d-none d-md-block bg-light sidebar")
                    .sidebar-sticky
                        ul(class="nav flex-column")
                            li.nav-item
                                a(class="nav-link active" href="#")
                                    span(data-feather="home")
                                    | ՑՈՒՑԱԿ  
                            li.nav-item
                                a(href="/professions").nav-link
                                    span(data-feather="file") 
                                    | ՄԱՍՆԱԳԻՏՈՒԹՅՈՒՆՆԵՐ
                            li.nav-item
                                a(href="/faculties").nav-link
                                    span(data-feather="shopping-cart")
                                    | ՖԱԿՈՒԼՏԵՏ  
                            li.nav-item
                                a(href="/students").nav-link
                                    span(data-feather="shopping-cart")
                                    | ՈՒՍԱՆՈՂՆԵՐ
                            li.nav-item
                                a(href="/teachers").nav-link
                                    span(data-feather="shopping-cart")
                                    | ԴԱՍԱԽՈՍՆԵՐ
                        h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                            span= ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ
                            a(class="d-flex align-items-center text-muted" href="#")
                                span(data-feather="plus-circle")
                        ul(class="nav flex-column mb-2")
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ԸՆԹԱՑԻԿ ԱՄԻՍ                        
                           
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ԵՐԿՐՈՐԴ ԿԻՍԱՄՅԱԿ
                            li.nav-item
                                a(href="#").nav-link
                                    span(data-feather="file-text")
                                    | ՏԱՐԵՎԵՐՋԻ ԶԵՂՉԵՐ
                form(action="/professions/edit" enctype="application/json"  class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" method="post")
                    .div_1
                        h4 ԱՎԵԼԱՑՆԵԼ
                        h2 ՄԱՍՆԱԳԻՏՈՒԹՅՈՒՆ
                        hr
                    .form                        
                        .div2_6
                        input.input(type='hidden' name="id" value= profession[0].id autocomplete='off' class='create-input')    
                    .form
                        .div1
                        label(for='') ՄԱՍՆԱԳԻՏՈՒԹՅՈՒՆ
                        .div2_1
                        input.input(type='text' name="profession" value= profession[0].profession  autocomplete='off' class='create-input')
                    .form
                        .div1
                        label(for='') ՖԱԿՈՒԼՏԵՏ
                        .div2_2
                        input.input(type='text' name="faculty" value= profession[0].faculty autocomplete='off' class='create-input')
                    .form
                        .div1
                        label(for='') ՈՒՍՄԱՆ ՎՃԱՐ
                        .div2_3
                        input.input(type='text' name="pay" value= profession[0].pay autocomplete='off' class='create-input')
                    .form
                        .div1
                        label(for='') ՈՒՍ․ ՏԱՐԻ
                        .div2_5 
                        input.input(type='text' name="study_year" value= profession[0].study_year autocomplete='off' class='create-input')
                    br
                    .div3
                        button(type='submit' class='create-create' ) ՓՈՓՈԽԵԼ
                    hr
                    a(href="/professions") Վերադառնալ ցուցակին


                                           