<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ՀԱՄԱԼՍԱՐԱՆ</title>
    <!-- Bootstrap core CSS-->
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0"><a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ՀԱՄԱԼՍԱՐԱՆ</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="ՈՐՈՆՈՒՄ" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap"><a class="nav-link" href="#">ԴՈՒՐՍ ԳԱԼ</a></li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link active" href="#"><span data-feather="home"></span>ՑՈՒՑԱԿ  </a></li>
              <li class="nav-item"><a class="nav-link" href="profession.html"><span data-feather="file"> </span>ՄԱՍՆԱԳԻՏՈՒԹՅՈՒՆՆԵՐ</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span data-feather="shopping-cart"></span>ՖԱԿՈՒԼՏԵՏ</a></li>
              <li class="nav-item"><a class="nav-link" href="student-personal.html"><span data-feather="shopping-cart"></span>ՈՒՍԱՆՈՂԻ ԱՆՁՆԱԿԱՆ ՏՎՅԱԼՆԵՐ    </a></li>
              <li class="nav-item"><a class="nav-link" href="./student.html"><span data-feather="shopping-cart"></span>ՈՒՍԱՆՈՂՆԵՐ</a></li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"><span>ՀԱՇՎԵՏՎՈՒԹՅՈՒՆ</span><a class="d-flex align-items-center text-muted" href="#"><span data-feather="plus-circle"></span></a></h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item"><a class="nav-link" href="#"><span data-feather="file-text"></span>ԸՆԹԱՑԻԿ ԱՄԻՍ</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span data-feather="file-text"></span>ԵՐԿՐՈՐԴ ԿԻՍԱՄՅԱԿ</a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span data-feather="file-text"></span>ՏԱՐԵՎԵՐՋԻ ԶԵՂՉԵՐ</a></li>
            </ul>
          </div>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
          <h3>ՈՒՍԱՆՈՂՆԵՐԻ ԱՆՁՆԱԿԱՆ ՏՎՅԱԼՆԵՐ</h3><br/>
          <div class="table-responsive">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>ԱՆՈՒՆ</th>
                  <th>ԱԶԳԱՆՈՒՆ</th>
                  <th>ՀԱՅՐԱՆՈՒՆ</th>
                  <th>ՍԵՌ</th>
                  <th>ԾՆ․ԱՄՍԱԹԻՎ</th>
                  <th>ՀԵՌԱԽՈՍ</th>
                  <th>Էլ․ՀԱՍՑԵ</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="table-hover">
                <tr> 
                  <td>1</td>
                  <td>Արմեն</td>
                  <td>Ամիրյան</td>
                  <td>Վազգենի</td>
                  <td>ԱՐ</td>
                  <td>01․10․1977</td>
                  <td>099881728</td>
                  <td>armen@gmail.com</td>
                  <td> 
                    <button class="btn btn-primary" type="button"> <i class="fa fa-bars"></i></button>
                    <button class="btn btn-info" type="button"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Արմեն</td>
                  <td>Ամիրյան</td>
                  <td>Վազգենի</td>
                  <td>ԱՐ</td>
                  <td>01․10․1977</td>
                  <td>099881728</td>
                  <td>armen@gmail.com</td>
                  <td>
                    <button class="btn btn-primary" type="button"><i class="fa fa-bars"></i></button>
                    <button class="btn btn-info" type="button"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Արմեն</td>
                  <td>Ամիրյան</td>
                  <td>Վազգենի</td>
                  <td>ԱՐ</td>
                  <td>01․10․1977</td>
                  <td>099881728</td>
                  <td>armen@gmail.com</td>
                  <td>
                    <button class="btn btn-primary" type="button"><i class="fa fa-bars"></i></button>
                    <button class="btn btn-info" type="button"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Արմեն</td>
                  <td>Ամիրյան</td>
                  <td>Վազգենի</td>
                  <td>ԱՐ</td>
                  <td>01․10․1977</td>
                  <td>099881728</td>
                  <td>armen@gmail.com</td>
                  <td>
                    <button class="btn btn-primary" type="button"><i class="fa fa-bars"></i></button>
                    <button class="btn btn-info" type="button"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination justify-content-end">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>