link(rel="stylesheet" href="login.css")
h1.mutq Մուտք
.grancum
   label.mail1(for="fname") Էլեկտրոնային հասցե
   input.mail(type="text")
   label(for="fname") Գաղտնաբառ
   input.password(type="password")
   input(type="checkbox")
   label.nshel Նշիր ինձ
   button.button Մուտք գործել